:root {
    --darkgreen: #005361;
    --white: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
.tabs-to-dropdown .dropdown-toggle,
.tabs-to-dropdown .dropdown-item {
    font-size: 1.3rem;
}

.tabs-to-dropdown .nav-wrapper {
    padding: 15px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.12);
}

    .tabs-to-dropdown .nav-wrapper a {
        color: var(--darkgreen);
    }

.tabs-to-dropdown .nav-pills .nav-link.active {
    background-color: var(--darkgreen);
}

.tabs-to-dropdown .nav-pills li:not(:last-child) {
    margin-right: 30px;
}

.tabs-to-dropdown .tab-content .container-fluid {
    max-width: 1250px;
    padding-top: 70px;
    padding-bottom: 70px;
}

.tabs-to-dropdown .dropdown-menu {
    border: none;
    box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.08);
}

.tabs-to-dropdown .dropdown-item {
    padding: 14px 28px;
}

    .tabs-to-dropdown .dropdown-item:active {
        color: var(--white);
    }

@media (min-width: 1280px) {
    .tabs-to-dropdown .nav-wrapper {
        padding: 15px 30px;
    }
}


/* FOOTER STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
    position: fixed;
    right: 15px;
    bottom: 20px;
    display: flex;
    align-items: center;
    font-size: 1rem;
    padding: 5px;
    background: var(--white);
}

    .page-footer a {
        margin-left: 4px;
    }
