@model ItemDetailListDTO
@{
    ViewData["Title"] = "GetSelectedItemDetails";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="banner-bootom-w3-agileits py-5">
	<div class="container py-xl-4 py-lg-2">
		<!-- tittle heading -->
		<h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
			<span>S</span>ingle
			<span>P</span>age
		</h3>
		<!-- //tittle heading -->
		<div class="row">
			<div class="col-lg-5 col-md-8 single-right-left ">
				<div class="grid images_3_of_2">
					<div class="flexslider">
						<ul class="slides">
							<li data-thumb="images/si1.jpg">
								<div class="thumb-image">
									<img src="@Model.Picture" data-imagezoom="true" class="img-fluid" alt="">
								</div>
							</li>
							<li data-thumb="images/si2.jpg">
								<div class="thumb-image">
									<img src="images/si2.jpg" data-imagezoom="true" class="img-fluid" alt="">
								</div>
							</li>
							<li data-thumb="images/si3.jpg">
								<div class="thumb-image">
									<img src="images/si3.jpg" data-imagezoom="true" class="img-fluid" alt="">
								</div>
							</li>
						</ul>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>

			<div class="col-lg-7 single-right-left simpleCart_shelfItem">
				<h3 class="mb-3">@Model.Name</h3>
				<p class="mb-3">
					<span class="item_price">$200.00</span>
					<del class="mx-2 font-weight-light">$280.00</del>
					<label>Free delivery</label>
				</p>
				<div class="single-infoagile">
					<ul>
						<li class="mb-3">
							Cash on Delivery Eligible.
						</li>
						<li class="mb-3">
							Shipping Speed to Delivery.
						</li>
						<li class="mb-3">
							EMIs from $655/month.
						</li>
						<li class="mb-3">
							Bank OfferExtra 5% off* with Axis Bank Buzz Credit CardT&C
						</li>
					</ul>
				</div>
				<div class="product-single-w3l">
					<p class="my-3">
						<i class="far fa-hand-point-right mr-2"></i>
						<label>1 Year</label>Manufacturer Warranty
					</p>
					<ul>
						<li class="mb-1">
							3 GB RAM | 16 GB ROM | Expandable Upto 256 GB
						</li>
						<li class="mb-1">
							5.5 inch Full HD Display
						</li>
						<li class="mb-1">
							13MP Rear Camera | 8MP Front Camera
						</li>
						<li class="mb-1">
							3300 mAh Battery
						</li>
						<li class="mb-1">
							Exynos 7870 Octa Core 1.6GHz Processor
						</li>
					</ul>
					<p class="my-sm-4 my-3">
						<i class="fas fa-retweet mr-3"></i>Net banking & Credit/ Debit/ ATM card
					</p>
				</div>
				<div class="occasion-cart">
					<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
						<form action="#" method="post">
							<fieldset>
								<input type="hidden" name="cmd" value="_cart" />
								<input type="hidden" name="add" value="1" />
								<input type="hidden" name="business" value=" " />
								<input type="hidden" name="item_name" value="Samsung Galaxy J7 Prime" />
								<input type="hidden" name="amount" value="200.00" />
								<input type="hidden" name="discount_amount" value="1.00" />
								<input type="hidden" name="currency_code" value="USD" />
								<input type="hidden" name="return" value=" " />
								<input type="hidden" name="cancel_return" value=" " />
								<input type="submit" name="submit" value="Add to cart" class="button" />
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

