
@{
    ViewData["Title"] = "MyDashboard";
    Layout = "~/Views/Shared/_SellerAdminLayout.cshtml";
}

<h1>İstatistiksel Verileri & Raporlar</h1>
<br />
<a href="/Dashboard/GetItemAdsExcelFileReport/" class="btn btn-outline-warning">İlanlarım Excel Raporu Oluştur</a>
<br />
<a href="/Dashboard/GetItemAdsPdfReport/" class="btn btn-outline-warning">İlanlarım Pdf Raporu Oluştur</a>



