
@{
    Layout = null;
}


<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/AdditionalCss/NotAuthorizedPage.css" rel="stylesheet" type="text/css" media="all" />

<div class="wrapper">
<div class="box">
<h1>403</h1>
<p>Üzgünüm, bu noktanın ötesine geçilmesine izin verilmiyor!</p>
 <p><a href="/ItemUI/GetItemsInTheShowcaseWithImage">Lütfen bu yoldan geri dön!</a></p>
@RenderBody()
</div>
</div>


