@model List<Item>
@{
    ViewData["Title"] = "GetAllItemAds";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="row">
	<!-- product left -->
	<!--bu kapatılanlarda değişen içerik-->
	<div class="agileinfo-ads-display col-lg-9">
		<div class="wrapper">
			<!-- first section -->
			<div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mb-4">
				<h3 class="heading-tittle text-center font-italic">Aktif İlanlar</h3>
				<div class="row">
					@foreach (var item in Model)
					{
						<div class="col-md-4 product-men mt-5">
							<div class="men-pro-item simpleCart_shelfItem">
								<div class="men-thumb-item text-center">
									<img src="@item.ItemShowcaseImage" alt="@item.ItemName" style="width:200px;height:200px;">
									<div class="men-cart-pro">
										<div class="inner-men-cart-pro">
											<a href="single.html" class="link-product-add-cart">Hemen İncele!</a>
										</div>
									</div>
								</div>
								<div class="item-info-product text-center border-top mt-4">
									<h4 class="pt-1">
										<a href="single.html">@item.ItemName</a>
									</h4>
									<div class="info-product-price my-2">
										<span class="item_price">$200.00</span>
										<del>$280.00</del>
									</div>
									<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
										<form action="#" method="post">
											<fieldset>
												<input type="hidden" name="cmd" value="_cart" />
												<input type="hidden" name="add" value="1" />
												<input type="hidden" name="business" value=" " />
												<input type="hidden" name="item_name" value="Samsung Galaxy J7" />
												<input type="hidden" name="amount" value="200.00" />
												<input type="hidden" name="discount_amount" value="1.00" />
												<input type="hidden" name="currency_code" value="USD" />
												<input type="hidden" name="return" value=" " />
												<input type="hidden" name="cancel_return" value=" " />
												<input type="submit" name="submit" value="Add to cart" class="button btn" />
											</fieldset>
										</form>
									</div>
								</div>
							</div>
						</div>

					}


				</div>
			</div>
			<!-- //first section -->
			<!-- second section -->
			<!-- //second section -->
			<!-- third section -->
		
			<!-- //third section -->
			<!-- fourth section -->
		
			<!-- //fourth section -->
		</div>
	</div>
	<!-- //product left -->
	<!-- product right -->
	@await Component.InvokeAsync("_ShowcaseSearchWithFilterPage")
</div>

